# Node/Nest app
app/node_modules/
app/dist/
app/package-lock.json
security-agent/node_modules/

# FreeSWITCH runtime data
data/log/
data/lib/
data/recordings/
data/security-agent/

# Environment & secrets
.env

# Docker artifacts
*.tar

# macOS / editor clutter
.DS_Store
.idea/
.vscode/

# Logs
*.log

# FreeSWITCH data
freeswitch/conf/sip_profiles/internal/
freeswitch/conf/sip_profiles/external/